<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ESoft.Properties.Settings.EsoftConnectionString" connectionString="Data Source=wsr;Initial Catalog=Esoft;User ID=user8;Encrypt=False" providerName="System.Data.SqlClient" />
    <add name="ModelDB" connectionString="data source=wsr;initial catalog=Esoft;user id=user8;password=1234;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>